@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, input, button {
    font-family: 'Inter';
}

section {
    margin: 25px 5px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.full-width {
    width: 100%;
}